---
import Layout from "../../layouts/Layout.astro";
import { getEntry, getCollection } from "astro:content";


export async function getStaticPaths() {
  return (await getCollection("blog")).map(it => ({
    params: {slug: it.slug},
  }));
};


const { slug } = Astro.params;
const post = await getEntry("blog", slug);
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <h1>{post.data.title}</h1>

    <Content />
</Layout>