---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <form action="/sayhi">
    <textarea name="message"></textarea>
    <input type="submit" class="btn" value="send" />
  </form>
</Layout>
